<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>6.png</key>
<dict>
<key>frame</key>
<string>{{126,385},{96,114}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{96,114}}</string>
<key>sourceSize</key>
<string>{96,114}</string>
</dict>
<key>9.png</key>
<dict>
<key>frame</key>
<string>{{132,167},{109,109}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,109}}</string>
<key>sourceSize</key>
<string>{109,109}</string>
</dict>
<key>11.png</key>
<dict>
<key>frame</key>
<string>{{124,604},{93,117}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{93,117}}</string>
<key>sourceSize</key>
<string>{95,119}</string>
</dict>
<key>bg_big.png</key>
<dict>
<key>frame</key>
<string>{{1,1},{164,176}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{164,176}}</string>
<key>sourceSize</key>
<string>{166,178}</string>
</dict>
<key>15.png</key>
<dict>
<key>frame</key>
<string>{{113,1236},{98,110}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{98,110}}</string>
<key>sourceSize</key>
<string>{98,110}</string>
</dict>
<key>4.png</key>
<dict>
<key>frame</key>
<string>{{111,1336},{89,108}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{89,108}}</string>
<key>sourceSize</key>
<string>{89,108}</string>
</dict>
<key>12.png</key>
<dict>
<key>frame</key>
<string>{{1,1123},{78,111}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{78,111}}</string>
<key>sourceSize</key>
<string>{78,111}</string>
</dict>
<key>19.png</key>
<dict>
<key>frame</key>
<string>{{1,845},{119,108}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,108}}</string>
<key>sourceSize</key>
<string>{119,108}</string>
</dict>
<key>1.png</key>
<dict>
<key>frame</key>
<string>{{115,1032},{94,111}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{94,111}}</string>
<key>sourceSize</key>
<string>{94,111}</string>
</dict>
<key>20.png</key>
<dict>
<key>frame</key>
<string>{{1,955},{77,112}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{77,112}}</string>
<key>sourceSize</key>
<string>{77,112}</string>
</dict>
<key>select.png</key>
<dict>
<key>frame</key>
<string>{{91,1513},{82,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{82,88}}</string>
<key>sourceSize</key>
<string>{82,88}</string>
</dict>
<key>7.png</key>
<dict>
<key>frame</key>
<string>{{1,1034},{87,111}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{87,111}}</string>
<key>sourceSize</key>
<string>{87,111}</string>
</dict>
<key>8.png</key>
<dict>
<key>frame</key>
<string>{{1,167},{100,129}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{100,129}}</string>
<key>sourceSize</key>
<string>{100,129}</string>
</dict>
<key>bg.png</key>
<dict>
<key>frame</key>
<string>{{1,1513},{82,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{82,88}}</string>
<key>sourceSize</key>
<string>{82,88}</string>
</dict>
<key>21.png</key>
<dict>
<key>frame</key>
<string>{{123,795},{76,116}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{76,116}}</string>
<key>sourceSize</key>
<string>{78,120}</string>
</dict>
<key>23.png</key>
<dict>
<key>frame</key>
<string>{{1,746},{97,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{97,120}}</string>
<key>sourceSize</key>
<string>{99,122}</string>
</dict>
<key>16.png</key>
<dict>
<key>frame</key>
<string>{{1,353},{123,105}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,105}}</string>
<key>sourceSize</key>
<string>{123,105}</string>
</dict>
<key>22.png</key>
<dict>
<key>frame</key>
<string>{{1,460},{121,92}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{121,92}}</string>
<key>sourceSize</key>
<string>{121,92}</string>
</dict>
<key>10.png</key>
<dict>
<key>frame</key>
<string>{{1,1310},{97,108}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{97,108}}</string>
<key>sourceSize</key>
<string>{97,108}</string>
</dict>
<key>5.png</key>
<dict>
<key>frame</key>
<string>{{1,554},{91,121}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{91,121}}</string>
<key>sourceSize</key>
<string>{91,121}</string>
</dict>
<key>27.png</key>
<dict>
<key>frame</key>
<string>{{123,699},{94,116}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{94,116}}</string>
<key>sourceSize</key>
<string>{94,116}</string>
</dict>
<key>24.png</key>
<dict>
<key>frame</key>
<string>{{124,483},{117,119}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{117,119}}</string>
<key>sourceSize</key>
<string>{117,119}</string>
</dict>
<key>18.png</key>
<dict>
<key>frame</key>
<string>{{122,949},{81,114}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{81,114}}</string>
<key>sourceSize</key>
<string>{81,114}</string>
</dict>
<key>14.png</key>
<dict>
<key>frame</key>
<string>{{1,269},{82,125}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{82,125}}</string>
<key>sourceSize</key>
<string>{82,125}</string>
</dict>
<key>2.png</key>
<dict>
<key>frame</key>
<string>{{128,278},{105,113}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{105,113}}</string>
<key>sourceSize</key>
<string>{105,113}</string>
</dict>
<key>3.png</key>
<dict>
<key>frame</key>
<string>{{1,1203},{105,110}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{105,110}}</string>
<key>sourceSize</key>
<string>{105,110}</string>
</dict>
<key>tip.png</key>
<dict>
<key>frame</key>
<string>{{109,1427},{82,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{82,88}}</string>
<key>sourceSize</key>
<string>{82,88}</string>
</dict>
<key>25.png</key>
<dict>
<key>frame</key>
<string>{{1,1409},{102,106}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{102,106}}</string>
<key>sourceSize</key>
<string>{102,106}</string>
</dict>
<key>13.png</key>
<dict>
<key>frame</key>
<string>{{1,647},{97,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{97,120}}</string>
<key>sourceSize</key>
<string>{97,120}</string>
</dict>
<key>17.png</key>
<dict>
<key>frame</key>
<string>{{122,873},{74,119}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{74,119}}</string>
<key>sourceSize</key>
<string>{74,119}</string>
</dict>
<key>26.png</key>
<dict>
<key>frame</key>
<string>{{114,1128},{106,110}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{106,110}}</string>
<key>sourceSize</key>
<string>{106,110}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>item_3.png</string>
<key>size</key>
<string>{1024,1024}</string>
<string>item_3.png</string>
</dict>
</dict>
</plist>