<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>27.png</key>
<dict>
<key>frame</key>
<string>{{1,351},{95,107}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{95,107}}</string>
<key>sourceSize</key>
<string>{95,107}</string>
</dict>
<key>bg.png</key>
<dict>
<key>frame</key>
<string>{{1,1},{82,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{82,88}}</string>
<key>sourceSize</key>
<string>{82,88}</string>
</dict>
<key>24.png</key>
<dict>
<key>frame</key>
<string>{{1,1404},{120,113}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{120,113}}</string>
<key>sourceSize</key>
<string>{120,113}</string>
</dict>
<key>tip.png</key>
<dict>
<key>frame</key>
<string>{{1,85},{82,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{82,88}}</string>
<key>sourceSize</key>
<string>{82,88}</string>
</dict>
<key>2.png</key>
<dict>
<key>frame</key>
<string>{{1,652},{101,113}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{101,113}}</string>
<key>sourceSize</key>
<string>{101,113}</string>
</dict>
<key>14.png</key>
<dict>
<key>frame</key>
<string>{{122,263},{114,93}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{114,93}}</string>
<key>sourceSize</key>
<string>{114,93}</string>
</dict>
<key>21.png</key>
<dict>
<key>frame</key>
<string>{{1,1179},{107,115}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{107,115}}</string>
<key>sourceSize</key>
<string>{107,115}</string>
</dict>
<key>12.png</key>
<dict>
<key>frame</key>
<string>{{122,170},{91,110}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{91,110}}</string>
<key>sourceSize</key>
<string>{91,110}</string>
</dict>
<key>select.png</key>
<dict>
<key>frame</key>
<string>{{91,1},{82,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{82,88}}</string>
<key>sourceSize</key>
<string>{82,88}</string>
</dict>
<key>19.png</key>
<dict>
<key>frame</key>
<string>{{91,85},{83,107}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{83,107}}</string>
<key>sourceSize</key>
<string>{83,107}</string>
</dict>
<key>20.png</key>
<dict>
<key>frame</key>
<string>{{1,553},{97,118}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{97,118}}</string>
<key>sourceSize</key>
<string>{97,118}</string>
</dict>
<key>18.png</key>
<dict>
<key>frame</key>
<string>{{113,964},{120,105}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{120,105}}</string>
<key>sourceSize</key>
<string>{120,105}</string>
</dict>
<key>11.png</key>
<dict>
<key>frame</key>
<string>{{121,553},{127,101}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{127,101}}</string>
<key>sourceSize</key>
<string>{127,101}</string>
</dict>
<key>6.png</key>
<dict>
<key>frame</key>
<string>{{109,757},{130,100}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{130,100}}</string>
<key>sourceSize</key>
<string>{130,100}</string>
</dict>
<key>25.png</key>
<dict>
<key>frame</key>
<string>{{1,1288},{111,110}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,110}}</string>
<key>sourceSize</key>
<string>{111,110}</string>
</dict>
<key>22.png</key>
<dict>
<key>frame</key>
<string>{{1,1071},{105,113}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{105,113}}</string>
<key>sourceSize</key>
<string>{105,113}</string>
</dict>
<key>8.png</key>
<dict>
<key>frame</key>
<string>{{116,1071},{106,110}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{106,110}}</string>
<key>sourceSize</key>
<string>{106,110}</string>
</dict>
<key>7.png</key>
<dict>
<key>frame</key>
<string>{{123,1404},{113,121}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{113,121}}</string>
<key>sourceSize</key>
<string>{113,121}</string>
</dict>
<key>3.png</key>
<dict>
<key>frame</key>
<string>{{1,859},{102,113}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{102,113}}</string>
<key>sourceSize</key>
<string>{102,113}</string>
</dict>
<key>bg_big.png</key>
<dict>
<key>frame</key>
<string>{{1,1519},{162,174}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{162,174}}</string>
<key>sourceSize</key>
<string>{162,174}</string>
</dict>
<key>1.png</key>
<dict>
<key>frame</key>
<string>{{1,963},{110,105}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{110,105}}</string>
<key>sourceSize</key>
<string>{110,105}</string>
</dict>
<key>26.png</key>
<dict>
<key>frame</key>
<string>{{116,859},{103,111}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{103,111}}</string>
<key>sourceSize</key>
<string>{103,111}</string>
</dict>
<key>23.png</key>
<dict>
<key>frame</key>
<string>{{1,755},{106,102}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{106,102}}</string>
<key>sourceSize</key>
<string>{106,102}</string>
</dict>
<key>16.png</key>
<dict>
<key>frame</key>
<string>{{114,1291},{112,111}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{112,111}}</string>
<key>sourceSize</key>
<string>{112,111}</string>
</dict>
<key>15.png</key>
<dict>
<key>frame</key>
<string>{{118,1179},{112,110}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{112,110}}</string>
<key>sourceSize</key>
<string>{112,110}</string>
</dict>
<key>13.png</key>
<dict>
<key>frame</key>
<string>{{1,256},{93,119}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{93,119}}</string>
<key>sourceSize</key>
<string>{93,119}</string>
</dict>
<key>9.png</key>
<dict>
<key>frame</key>
<string>{{1,170},{84,119}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{84,119}}</string>
<key>sourceSize</key>
<string>{84,119}</string>
</dict>
<key>5.png</key>
<dict>
<key>frame</key>
<string>{{1,448},{106,99}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{106,99}}</string>
<key>sourceSize</key>
<string>{106,99}</string>
</dict>
<key>17.png</key>
<dict>
<key>frame</key>
<string>{{116,656},{99,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{99,128}}</string>
<key>sourceSize</key>
<string>{99,128}</string>
</dict>
<key>4.png</key>
<dict>
<key>frame</key>
<string>{{110,358},{126,95}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{126,95}}</string>
<key>sourceSize</key>
<string>{126,95}</string>
</dict>
<key>10.png</key>
<dict>
<key>frame</key>
<string>{{109,455},{96,112}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{96,112}}</string>
<key>sourceSize</key>
<string>{96,112}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>item_8.png</string>
<key>size</key>
<string>{1024,1024}</string>
<string>item_8.png</string>
</dict>
</dict>
</plist>