<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>9.png</key>
<dict>
<key>frame</key>
<string>{{523,131},{107,124}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{107,124}}</string>
<key>sourceSize</key>
<string>{107,124}</string>
</dict>
<key>11.png</key>
<dict>
<key>frame</key>
<string>{{970,126},{109,122}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,122}}</string>
<key>sourceSize</key>
<string>{109,122}</string>
</dict>
<key>7.png</key>
<dict>
<key>frame</key>
<string>{{1072,1},{102,122}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{102,122}}</string>
<key>sourceSize</key>
<string>{102,122}</string>
</dict>
<key>18.png</key>
<dict>
<key>frame</key>
<string>{{1187,124},{94,121}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{94,121}}</string>
<key>sourceSize</key>
<string>{94,121}</string>
</dict>
<key>15.png</key>
<dict>
<key>frame</key>
<string>{{856,126},{123,112}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{123,112}}</string>
<key>sourceSize</key>
<string>{123,112}</string>
</dict>
<key>select.png</key>
<dict>
<key>frame</key>
<string>{{1694,1},{82,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{82,88}}</string>
<key>sourceSize</key>
<string>{82,88}</string>
</dict>
<key>22.png</key>
<dict>
<key>frame</key>
<string>{{167,142},{118,113}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{118,113}}</string>
<key>sourceSize</key>
<string>{118,113}</string>
</dict>
<key>14.png</key>
<dict>
<key>frame</key>
<string>{{1394,1},{105,116}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{105,116}}</string>
<key>sourceSize</key>
<string>{105,116}</string>
</dict>
<key>25.png</key>
<dict>
<key>frame</key>
<string>{{167,1},{139,116}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{139,116}}</string>
<key>sourceSize</key>
<string>{139,116}</string>
</dict>
<key>12.png</key>
<dict>
<key>frame</key>
<string>{{726,1},{126,114}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{126,114}}</string>
<key>sourceSize</key>
<string>{126,114}</string>
</dict>
<key>19.png</key>
<dict>
<key>frame</key>
<string>{{966,1},{104,123}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{104,123}}</string>
<key>sourceSize</key>
<string>{104,123}</string>
</dict>
<key>8.png</key>
<dict>
<key>frame</key>
<string>{{748,129},{124,106}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{124,106}}</string>
<key>sourceSize</key>
<string>{124,106}</string>
</dict>
<key>2.png</key>
<dict>
<key>frame</key>
<string>{{1277,1},{115,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{115,120}}</string>
<key>sourceSize</key>
<string>{115,120}</string>
</dict>
<key>5.png</key>
<dict>
<key>frame</key>
<string>{{1606,117},{95,112}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{95,112}}</string>
<key>sourceSize</key>
<string>{95,112}</string>
</dict>
<key>bg_big.png</key>
<dict>
<key>frame</key>
<string>{{1,1},{164,176}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{164,176}}</string>
<key>sourceSize</key>
<string>{166,178}</string>
</dict>
<key>24.png</key>
<dict>
<key>frame</key>
<string>{{494,1},{105,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{105,128}}</string>
<key>sourceSize</key>
<string>{105,128}</string>
</dict>
<key>3.png</key>
<dict>
<key>frame</key>
<string>{{402,135},{119,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{119,120}}</string>
<key>sourceSize</key>
<string>{119,120}</string>
</dict>
<key>17.png</key>
<dict>
<key>frame</key>
<string>{{842,1},{123,122}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{123,122}}</string>
<key>sourceSize</key>
<string>{123,122}</string>
</dict>
<key>16.png</key>
<dict>
<key>frame</key>
<string>{{285,1},{135,107}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{135,107}}</string>
<key>sourceSize</key>
<string>{135,107}</string>
</dict>
<key>4.png</key>
<dict>
<key>frame</key>
<string>{{287,138},{113,116}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,116}}</string>
<key>sourceSize</key>
<string>{113,116}</string>
</dict>
<key>bg.png</key>
<dict>
<key>frame</key>
<string>{{1610,1},{82,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{82,88}}</string>
<key>sourceSize</key>
<string>{82,88}</string>
</dict>
<key>20.png</key>
<dict>
<key>frame</key>
<string>{{1390,123},{99,118}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{99,118}}</string>
<key>sourceSize</key>
<string>{99,118}</string>
</dict>
<key>13.png</key>
<dict>
<key>frame</key>
<string>{{394,1},{132,98}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{132,98}}</string>
<key>sourceSize</key>
<string>{132,98}</string>
</dict>
<key>10.png</key>
<dict>
<key>frame</key>
<string>{{1491,119},{113,114}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,114}}</string>
<key>sourceSize</key>
<string>{113,114}</string>
</dict>
<key>1.png</key>
<dict>
<key>frame</key>
<string>{{1501,1},{114,107}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{114,107}}</string>
<key>sourceSize</key>
<string>{114,107}</string>
</dict>
<key>23.png</key>
<dict>
<key>frame</key>
<string>{{1176,1},{99,121}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{99,121}}</string>
<key>sourceSize</key>
<string>{99,121}</string>
</dict>
<key>21.png</key>
<dict>
<key>frame</key>
<string>{{632,129},{114,126}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{114,126}}</string>
<key>sourceSize</key>
<string>{114,126}</string>
</dict>
<key>27.png</key>
<dict>
<key>frame</key>
<string>{{1283,123},{118,105}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{118,105}}</string>
<key>sourceSize</key>
<string>{118,105}</string>
</dict>
<key>6.png</key>
<dict>
<key>frame</key>
<string>{{1081,125},{104,121}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{104,121}}</string>
<key>sourceSize</key>
<string>{104,121}</string>
</dict>
<key>26.png</key>
<dict>
<key>frame</key>
<string>{{601,1},{126,123}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{126,123}}</string>
<key>sourceSize</key>
<string>{126,123}</string>
</dict>
<key>tip.png</key>
<dict>
<key>frame</key>
<string>{{1703,91},{82,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{82,88}}</string>
<key>sourceSize</key>
<string>{82,88}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>item_7.png</string>
<key>size</key>
<string>{1024,1024}</string>
<string>item_7.png</string>
</dict>
</dict>
</plist>