<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>10.png</key>
<dict>
<key>frame</key>
<string>{{1064,128},{92,118}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{92,118}}</string>
<key>sourceSize</key>
<string>{92,118}</string>
</dict>
<key>select.png</key>
<dict>
<key>frame</key>
<string>{{1665,91},{82,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{82,88}}</string>
<key>sourceSize</key>
<string>{82,88}</string>
</dict>
<key>8.png</key>
<dict>
<key>frame</key>
<string>{{1161,1},{111,122}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,122}}</string>
<key>sourceSize</key>
<string>{111,122}</string>
</dict>
<key>4.png</key>
<dict>
<key>frame</key>
<string>{{1272,125},{96,119}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{96,119}}</string>
<key>sourceSize</key>
<string>{96,119}</string>
</dict>
<key>16.png</key>
<dict>
<key>frame</key>
<string>{{719,1},{127,109}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{127,109}}</string>
<key>sourceSize</key>
<string>{127,109}</string>
</dict>
<key>2.png</key>
<dict>
<key>frame</key>
<string>{{730,130},{114,108}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{114,108}}</string>
<key>sourceSize</key>
<string>{114,108}</string>
</dict>
<key>24.png</key>
<dict>
<key>frame</key>
<string>{{621,130},{115,107}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{115,107}}</string>
<key>sourceSize</key>
<string>{115,107}</string>
</dict>
<key>18.png</key>
<dict>
<key>frame</key>
<string>{{493,130},{126,115}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{126,115}}</string>
<key>sourceSize</key>
<string>{126,115}</string>
</dict>
<key>bg.png</key>
<dict>
<key>frame</key>
<string>{{1665,1},{82,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{82,88}}</string>
<key>sourceSize</key>
<string>{82,88}</string>
</dict>
<key>17.png</key>
<dict>
<key>frame</key>
<string>{{941,1},{123,125}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,125}}</string>
<key>sourceSize</key>
<string>{123,125}</string>
</dict>
<key>26.png</key>
<dict>
<key>frame</key>
<string>{{1066,1},{93,123}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{93,123}}</string>
<key>sourceSize</key>
<string>{93,123}</string>
</dict>
<key>5.png</key>
<dict>
<key>frame</key>
<string>{{952,128},{118,110}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{118,110}}</string>
<key>sourceSize</key>
<string>{118,110}</string>
</dict>
<key>20.png</key>
<dict>
<key>frame</key>
<string>{{278,1},{133,79}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{133,79}}</string>
<key>sourceSize</key>
<string>{133,79}</string>
</dict>
<key>1.png</key>
<dict>
<key>frame</key>
<string>{{258,141},{114,104}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{114,104}}</string>
<key>sourceSize</key>
<string>{114,104}</string>
</dict>
<key>12.png</key>
<dict>
<key>frame</key>
<string>{{359,1},{129,110}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{129,110}}</string>
<key>sourceSize</key>
<string>{129,110}</string>
</dict>
<key>tip.png</key>
<dict>
<key>frame</key>
<string>{{1581,103},{82,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{82,88}}</string>
<key>sourceSize</key>
<string>{82,88}</string>
</dict>
<key>3.png</key>
<dict>
<key>frame</key>
<string>{{374,132},{117,114}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{117,114}}</string>
<key>sourceSize</key>
<string>{117,114}</string>
</dict>
<key>7.png</key>
<dict>
<key>frame</key>
<string>{{1473,114},{106,107}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{106,107}}</string>
<key>sourceSize</key>
<string>{106,107}</string>
</dict>
<key>bg_big.png</key>
<dict>
<key>frame</key>
<string>{{1,1},{164,176}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{164,176}}</string>
<key>sourceSize</key>
<string>{166,178}</string>
</dict>
<key>23.png</key>
<dict>
<key>frame</key>
<string>{{597,1},{120,127}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{120,127}}</string>
<key>sourceSize</key>
<string>{120,127}</string>
</dict>
<key>11.png</key>
<dict>
<key>frame</key>
<string>{{1370,115},{101,111}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{101,111}}</string>
<key>sourceSize</key>
<string>{101,111}</string>
</dict>
<key>21.png</key>
<dict>
<key>frame</key>
<string>{{1360,1},{106,112}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{106,112}}</string>
<key>sourceSize</key>
<string>{106,112}</string>
</dict>
<key>14.png</key>
<dict>
<key>frame</key>
<string>{{471,1},{127,124}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{127,124}}</string>
<key>sourceSize</key>
<string>{127,124}</string>
</dict>
<key>6.png</key>
<dict>
<key>frame</key>
<string>{{167,141},{89,105}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{89,105}}</string>
<key>sourceSize</key>
<string>{89,105}</string>
</dict>
<key>15.png</key>
<dict>
<key>frame</key>
<string>{{1569,1},{94,100}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{94,100}}</string>
<key>sourceSize</key>
<string>{94,100}</string>
</dict>
<key>22.png</key>
<dict>
<key>frame</key>
<string>{{830,1},{126,109}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{126,109}}</string>
<key>sourceSize</key>
<string>{126,109}</string>
</dict>
<key>13.png</key>
<dict>
<key>frame</key>
<string>{{840,129},{117,110}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{117,110}}</string>
<key>sourceSize</key>
<string>{117,110}</string>
</dict>
<key>19.png</key>
<dict>
<key>frame</key>
<string>{{167,1},{138,109}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{138,109}}</string>
<key>sourceSize</key>
<string>{138,109}</string>
</dict>
<key>9.png</key>
<dict>
<key>frame</key>
<string>{{1158,126},{119,112}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{119,112}}</string>
<key>sourceSize</key>
<string>{119,112}</string>
</dict>
<key>27.png</key>
<dict>
<key>frame</key>
<string>{{1274,1},{84,122}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{84,122}}</string>
<key>sourceSize</key>
<string>{84,122}</string>
</dict>
<key>25.png</key>
<dict>
<key>frame</key>
<string>{{1468,1},{111,99}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{111,99}}</string>
<key>sourceSize</key>
<string>{111,99}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>item_6.png</string>
<key>size</key>
<string>{1024,1024}</string>
<string>item_6.png</string>
</dict>
</dict>
</plist>