<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>13.png</key>
<dict>
<key>frame</key>
<string>{{127,389},{121,93}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{121,93}}</string>
<key>sourceSize</key>
<string>{121,93}</string>
</dict>
<key>24.png</key>
<dict>
<key>frame</key>
<string>{{137,165},{111,105}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{111,105}}</string>
<key>sourceSize</key>
<string>{111,105}</string>
</dict>
<key>18.png</key>
<dict>
<key>frame</key>
<string>{{116,888},{98,112}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{98,112}}</string>
<key>sourceSize</key>
<string>{98,112}</string>
</dict>
<key>select.png</key>
<dict>
<key>frame</key>
<string>{{91,1590},{82,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{82,88}}</string>
<key>sourceSize</key>
<string>{82,88}</string>
</dict>
<key>23.png</key>
<dict>
<key>frame</key>
<string>{{119,786},{100,114}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{100,114}}</string>
<key>sourceSize</key>
<string>{100,114}</string>
</dict>
<key>20.png</key>
<dict>
<key>frame</key>
<string>{{107,1404},{85,103}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{85,103}}</string>
<key>sourceSize</key>
<string>{85,103}</string>
</dict>
<key>8.png</key>
<dict>
<key>frame</key>
<string>{{1,247},{128,108}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{128,108}}</string>
<key>sourceSize</key>
<string>{128,108}</string>
</dict>
<key>15.png</key>
<dict>
<key>frame</key>
<string>{{1,1399},{104,100}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{104,100}}</string>
<key>sourceSize</key>
<string>{104,100}</string>
</dict>
<key>1.png</key>
<dict>
<key>frame</key>
<string>{{1,165},{134,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{134,80}}</string>
<key>sourceSize</key>
<string>{134,80}</string>
</dict>
<key>9.png</key>
<dict>
<key>frame</key>
<string>{{121,681},{103,116}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{103,116}}</string>
<key>sourceSize</key>
<string>{103,116}</string>
</dict>
<key>21.png</key>
<dict>
<key>frame</key>
<string>{{1,680},{118,103}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{118,103}}</string>
<key>sourceSize</key>
<string>{118,103}</string>
</dict>
<key>22.png</key>
<dict>
<key>frame</key>
<string>{{1,785},{99,116}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{99,116}}</string>
<key>sourceSize</key>
<string>{99,116}</string>
</dict>
<key>4.png</key>
<dict>
<key>frame</key>
<string>{{116,988},{109,109}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,109}}</string>
<key>sourceSize</key>
<string>{109,109}</string>
</dict>
<key>14.png</key>
<dict>
<key>frame</key>
<string>{{1,1198},{102,107}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{102,107}}</string>
<key>sourceSize</key>
<string>{102,107}</string>
</dict>
<key>25.png</key>
<dict>
<key>frame</key>
<string>{{126,484},{85,120}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{85,120}}</string>
<key>sourceSize</key>
<string>{85,120}</string>
</dict>
<key>3.png</key>
<dict>
<key>frame</key>
<string>{{107,1491},{97,101}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{97,101}}</string>
<key>sourceSize</key>
<string>{97,101}</string>
</dict>
<key>12.png</key>
<dict>
<key>frame</key>
<string>{{109,1304},{98,105}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{98,105}}</string>
<key>sourceSize</key>
<string>{98,105}</string>
</dict>
<key>11.png</key>
<dict>
<key>frame</key>
<string>{{112,1099},{97,108}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{97,108}}</string>
<key>sourceSize</key>
<string>{97,108}</string>
</dict>
<key>16.png</key>
<dict>
<key>frame</key>
<string>{{1,357},{124,93}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{124,93}}</string>
<key>sourceSize</key>
<string>{124,93}</string>
</dict>
<key>17.png</key>
<dict>
<key>frame</key>
<string>{{131,272},{115,116}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{115,116}}</string>
<key>sourceSize</key>
<string>{115,116}</string>
</dict>
<key>bg_big.png</key>
<dict>
<key>frame</key>
<string>{{1,1},{162,174}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{162,174}}</string>
<key>sourceSize</key>
<string>{162,174}</string>
</dict>
<key>6.png</key>
<dict>
<key>frame</key>
<string>{{1,1102},{108,94}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{108,94}}</string>
<key>sourceSize</key>
<string>{108,94}</string>
</dict>
<key>2.png</key>
<dict>
<key>frame</key>
<string>{{1,1302},{95,106}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{95,106}}</string>
<key>sourceSize</key>
<string>{95,106}</string>
</dict>
<key>27.png</key>
<dict>
<key>frame</key>
<string>{{1,886},{113,104}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{113,104}}</string>
<key>sourceSize</key>
<string>{113,104}</string>
</dict>
<key>5.png</key>
<dict>
<key>frame</key>
<string>{{1,569},{118,109}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{118,109}}</string>
<key>sourceSize</key>
<string>{118,109}</string>
</dict>
<key>bg.png</key>
<dict>
<key>frame</key>
<string>{{1,1590},{82,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{82,88}}</string>
<key>sourceSize</key>
<string>{82,88}</string>
</dict>
<key>7.png</key>
<dict>
<key>frame</key>
<string>{{121,571},{118,108}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{118,108}}</string>
<key>sourceSize</key>
<string>{118,108}</string>
</dict>
<key>26.png</key>
<dict>
<key>frame</key>
<string>{{1,992},{109,108}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{109,108}}</string>
<key>sourceSize</key>
<string>{109,108}</string>
</dict>
<key>10.png</key>
<dict>
<key>frame</key>
<string>{{110,1198},{104,106}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{104,106}}</string>
<key>sourceSize</key>
<string>{104,106}</string>
</dict>
<key>19.png</key>
<dict>
<key>frame</key>
<string>{{1,452},{123,115}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key><string>{{0,0},{123,115}}</string>
<key>sourceSize</key>
<string>{123,115}</string>
</dict>
<key>tip.png</key>
<dict>
<key>frame</key>
<string>{{1,1501},{82,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key><string>{{0,0},{82,88}}</string>
<key>sourceSize</key>
<string>{82,88}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>item_9.png</string>
<key>size</key>
<string>{1024,1024}</string>
<string>item_9.png</string>
</dict>
</dict>
</plist>